<div class="container">
    <div class="row">
        <!--<div class="row" *ngFor='let activity of activityData;'-->
        <div class="row main-container">
            <div class="pic-container">
                <img src="https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/07/2a/69/38.jpg">
            </div>
            <div class="body-container">
                <div class="row">
                    <h4>Avalon City: A Self-Guided Audio Tour </h4>
                </div>
                <div class="row">
                    <span>Catalina Island,California </span>
                </div>
                <div class="row">
                    <span>Take a self-guided GPS audio tour through the streets of Avalon with me. My name is Matthew and I am one of the 4000 residents of Avalon. Being a local I get asked a lot of questions. Do you live here full time? How expensive is it? What is that large house up on the hill? Why does everyone drive around in golf carts? How can you have a casino that doesn't allow gambling?<br><br>Along with historians, authors, and other passionate locals, we will walk the streets of Avalon to answer these questions and more. You'll learn the stories behind our town and its famous landmarks from the people who live here.<br><br>The tour is ready whenever you are and the audio plays automatically at exactly the right time and place using your smartphone's GPS and the VoiceMap mobile app, which also works offline.<br></span>
                </div>
                <div class="row">
                    <span>Duration - 50 Minutes</span>
                </div>
            </div>
        </div>
        
    </div>
</div>
